@import 'antd/dist/reset.css';
@import 'react-lazy-load-image-component/src/effects/blur.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-small::-webkit-scrollbar {
    width: 3px;
  }
  .scrollbar-small::-webkit-scrollbar-thumb {
    border-radius: 14px;
  }
  .scrollbar-small:hover::-webkit-scrollbar-thumb {
    --scrollbar-thumb: #b1b1b1;
  }
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/SFProText-Light.ttf');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/SFProText-Regular.ttf');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/SFProText-Medium.ttf');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./assets/fonts/SFProText-Semibold.ttf');
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: local('Rounded Mplus 1c Medium'), local('RoundedMplus1c-Medium'),
    url('./assets/fonts/Roundedmplus1cmedium.woff2') format('woff2'),
    url('./assets/fonts/Roundedmplus1cmedium.woff') format('woff'),
    url('./assets/fonts/Roundedmplus1cmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'SF Pro Text', sans-serif;
}

.avatar {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.swiper-pagination {
  transform: translateY(10px) !important;
}
